body{
    font-family: sans-serif;
}

nav{
    text-align: right;
    line-height: 70px;
    background-color: rgba(211,207,212,0.85);
    border-radius: 4px;
}

.menu{
    margin: 0 20px 0 0;
}

button.btnGo{
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: transparent;
    border-color: black;
}

button.btnGoSecondary{
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: transparent;
    border-color: black;
    margin-top: 0;
}

.menu button{
    margin: 0 5px;
    align-items: baseline;
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    border-color: #1e7e34;
    background-color: transparent;
    font-family: sans-serif;
}

button:hover{
    background-color: #20c997;
    transition: background-color 500ms;
}

.menu button.navBtn{
    border-color: black;
}

#brand{
    float: left;
    color: black;
    font-size: 26px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

label{
    font-size: 26px;
    display: none;
}

#toggle{
    display: none;
}

form.inlineForm{
    display: inline;
}

.pageTitle{
    display: flex;
    justify-content: center;
}

.pageTitle h1{
    margin-bottom: 130px;
}

.rowDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.glow:hover{
    background-color: #20c997;
    transition: background-color 500ms;
}

.chapterTitle{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 2px;
}

.space-bt{
    justify-content: space-between;
}

.colDiv{
    display: flex;
    flex-direction: column;
}

.start{
    justify-content: flex-start;
}


form.verticalForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form.verticalForm input, .inputText{
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    border: 1px solid;
    border-radius: 5px;
    border-color: grey;
}


.focusOutline:focus{
    outline-color: #20c997;
}

select{
    border: 1px solid;
    border-radius: 7px;
    border-color: rgba(184,180,185,0.85);
}

.divError{
    display: flex;
    justify-content: center;
    background-color: rgba(204, 32, 40, 0.62);
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(222,31,40,0.85);
    line-height: 70px;
}

.divError p{
    font-weight: lighter;
}

.loginContainer{
    display: flex;
    flex-direction: column;
}

.m10{
    margin: 10px;
}

.m20{
    margin: 20px;
}

.mg-top-30{
    margin-top: 30px;
}

.mg-right-30{
    margin-right: 30px;
}

.mg-left-30{
    margin-left: 30px;
}

.mg-bottom-20{
    margin-bottom: 30px;
}

.pad10{
    padding: 10px;
}

.wrap{
    flex-wrap: wrap;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

img.imgSquare{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: rgb(107,149,149);
    margin: 10px 0;
}

a.prec, a.succ {
    cursor: pointer;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
}


.baseline{
    align-items: baseline;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.separatorTitle + div{
    position: relative;
    bottom: 50px;
}

.separatorTitle p{
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
}

.zindex1{
    z-index: 1;
}

.zindex0{
    z-index: 0;
}

.w-max{
    width: 100%;
}

.inputFile{
    padding: 10px;
    cursor: pointer;
    opacity: 0;
}

.divFileWrapper{
    background-color: #20c997;
    border-radius: 5px;
}

.pFileLoadLabel{
    position: relative;
    bottom: 50px;
    bottom: 30px;
    margin-left: 80px;
}

.spancounter{
    background-color: #20c997;
    border-radius: 50px;
    padding: 5px;
}

#total{
    position: relative;
    top: 42px;
    right: 10px;
}

.pDescriptor{
    padding: 10px;
}

.rowDivStart{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.imgContainer{
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: rgb(107,149,149);
    margin: 10px 0;
}


.redBtn:hover{
    background-color: rgba(204, 32, 40, 0.85);
    transition: background-color 500ms;
}

.backgroundRed{
    background-color: rgb(187,86,86);
}

#dettagliUtente p{
    display: inline;
    padding: 5px;
}

.bold{
    font-weight: bold;
}

@media only screen and (max-width: 800px){
    label{
        display: inline;
        cursor: pointer;
    }
    .menu{
        visibility: hidden;
        opacity: 0;
        height: 0px;
    }
    .menu button{
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 10px;
        border-radius: 7px;
        border-color: #1e7e34;
        background-color: transparent;
        margin-top: 5px;
    }
    button:hover{
        background-color: #20c997;
        transition: background-color 500ms;
    }

    .menu button.navBtn{
        border-color: black;
    }
    .menu button.navBtn:hover{
        background-color: #20c997;
        transition: background-color 500ms;
    }
    #toggle:checked + .menu{
        visibility: visible;
        opacity: 1;
        height: 230px;
        transition: visibility, opacity, height 1s;
    }

    #brand{
        font-size: 20px;
    }

    #userLoggedNav{
        display: none;
    }

    form.verticalForm input{
        width: 200px;
    }
    .pageTitle{
        font-size: 10px;
    }

    #contatti{
        justify-content: flex-start;
        margin-left: 5px;
    }
    #galleryPic{
        justify-content: flex-start;
    }
    #navigationButtons{
        justify-content: flex-start;
    }
    .chapterTitle{
        font-size: 17px;
    }

    #infoAccountDiv{
        flex-direction: column;
    }

    .imgContainer{
        width: 250px;
        height: 250px;
    }

    .inputText{
        width: 200px;
    }

}
