body{
    color: black;
}

form{
    margin: auto;
}

div.spaced{
    margin: 5px;
    background: #c1c9c9;
    border-radius: 25px;
    padding: 3px;

    display: grid;
    grid-template-columns: auto 150px;
}

div.spaced:hover{
    background-color: #8fd19e;
    transition: background-color 500ms;
}

div.divOfdiv{
    align-items: baseline;
    font-size: large;
    padding: 10px;
}

div p{
    font-family: Arial;
    font-weight: bold;
    margin-left: 7px;
    display: block;
}
